<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @user.String %>
</p>

<p>
  <b>Nome,:</b>
  <%= @user.nome, %>
</p>

<p>
  <b>Int:</b>
  <%= @user.int %>
</p>

<p>
  <b>Idade:</b>
  <%= @user.idade %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
